<div class="container">
    <div class="row">
        <div class="col text-center mt-4">
            <img class="img-thumbnail rounded-circle" width="200px" src="../img/timur.jpg" alt="Lazuardi">
            <h1 class="display-4">Muhammad Lazuardi Timur</h1>
            <p class="lead">Tuhan maha asyik.</p>

        </div>
    </div>
</div>